@import url('https://fonts.googleapis.com/css?family=Muli');
.home-wrapper{
    background-color: rgba(14, 14, 39, .4);
    margin-top: -100vh;
    height: 100vh;
}

.bg{
    height: 100vh;
    z-index: -1;
    background: url('https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
    background-size: cover;   
    background-repeat: no-repeat;
    filter: blur(.8px);
}   

.image-wrapper{
    text-align: center;
}

.profile-img{
    height:210px;
    width: 220px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-top: 20vh
}

h1{
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-family: 'Muli', sans-serif;
    overflow-y: hidden;
}

.lead{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: floralwhite;
}