        @import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
        html,
        body {
            padding: 0;
            margin: 0;
            outline: none;
            max-width: 100%;
            overflow-x: hidden;
            scroll-behavior: smooth;
        }
        
        .nav-bar {
            position: fixed;
            margin-right: -5px;
            height: 50px;
            width: 100vw;
            background-color: rgba( 20, 20, 20, 0.8);
            color: #fff;
            overflow-y: none;
            z-index: 2;
        }
        
        #wrapper {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding: 5px;
        }
        
        .nav-bar span .hamburger-btn {
            display: none;
        }
        
        #wrapper a {
            text-decoration: none;
            padding: 5px;
            margin-left: 8px;
            margin-right: 8px;
            font-size: 1.5em;
            text-align: center;
            color: #fff;
            border-radius: 0;
            transition: all 0.4s ease-in-out;
        }
        
        #wrapper a:hover {
            background-color: #ddd;
            color: #222;
            transform: scale3d(1.10, 1.10, 1.10);
            border-radius: 8px;
        }
        
        #wrapper a:focus {
            background-color: #ccc;
            color: royalblue;
        }
        
        #intro-particles {
            display: inline-block;
            height: 654px;
            width: 1350px;
        }
        
        #intro-particles .blink {
            position: absolute;
            margin-top: 25%;
            margin-left: 20%;
            color: #ecf0f1;
            font-family: 'Roboto Slab', serif;
            color: #fff;
            font-size: 5em;
        }
        
        #intro-particles canvas {
            position: absolute;
            z-index: -1;
            background-color: #000;
        }
        
        #intro {
            display: none;
        }
        
        #portfolio {
            width: 800px;
            margin: 270px auto;
            z-index: -1;
        }
        
        #portfolio h1 {
            text-align: center;
            font-family: cursive;
            color: #333;
            margin-top: 60px;
            font-size: 2.5em;
        }
        
        #portfolio h1 {
            margin-top: -20px;
            text-align: center;
        }
        
        #portfolio h2,
        #articles h2,
        #certifications h2 {
            display: none;
        }
        
        .portfolio-section span a {
            text-decoration: none;
            margin: 60px;
        }
        
        .portfolio-section span a img {
            height: 150px;
            width: 160px;
        }
        
        #articles {
            width: 800px;
            margin: 300px auto;
        }
        
        #articles h1 {
            text-align: center;
            font-family: cursive;
            font-size: 2.5em;
            color: #111;
        }
        
        .articles-section span a {
            text-decoration: none;
            margin: 80px;
        }
        
        .articles-section span a img {
            width: 200px;
            height: 210px;
        }
        
        .rotateDown {
            transition: all 0.4s ease-in-out;
            transform: rotate(180deg);
        }
        
        .rotateUp {
            transition: all 0.4s ease-in-out;
            transform: rotate(0deg);
        }
        
        .section-collapse {
            transition: all 1s ease-in-out;
            display: none;
        }
        
        .section-expand {
            transition: all 1s ease-in-out;
            display: block;
            animation-name: zoomIn;
            animation-iteration-count: 1;
            animation-duration: 1s;
        }
        
        @keyframes zoomIn {
            from {
                opacity: 0;
                transform: scale3d(0.3, 0.3, 0.3)
            }
            50% {
                opacity: 1;
            }
        }
        
        #certifications {
            max-width: 100%;
            margin: 0 auto;
            text-align: center;
        }
        
        #certifications h1 {
            font-family: cursive;
            text-align: center;
            font-size: 2.5em;
            color: #111;
        }
        
        #certifications .sololearn-section,
        #certifications .lco-section,
        #certifications .udemy-section,
        #certifications .datacamp-section {
            margin-top: 15%;
        }
        
        .sololearn-certificates img,
        .lco-certificates img,
        .udemy-certificates img,
        .datacamp-certificates img {
            width: 270px;
            height: 250px;
            margin: 5px;
            border: 3px solid #fff;
            border-radius: 6%;
        }
        
        .btn {
            padding: 10px;
            color: #222;
            background-color: transparent;
            border: 3px solid #222;
            border-radius: 8px;
            font-size: 2em;
            margin-bottom: 10px;
        }
        
        .btn:hover {
            transition: all 0.4s ease-in-out;
            background-color: #222;
            color: #fff;
            border-color: #fff;
            cursor: pointer;
        }
        
        .data-toggle {
            padding: 3px;
            color: #fff;
            border: none;
            background-color: #293;
            font-size: 1.5em;
            font-weight: bolder;
            border-radius: 25%;
            margin-bottom: 5px;
        }
        
        .data-toggle:hover {
            transition: all 0.4s ease-in-out;
            cursor: pointer;
            background-color: #222;
        }
        
        .logo {
            width: 270px;
            height: 250px;
            animation-name: rotate;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
        
        @keyframes rotate {
            100% {
                transform: rotateY(360deg);
            }
        }
        
        .sololearn-certificates img:hover,
        .lco-certificates img:hover,
        .udemy-certificates img:hover,
        .datacamp-certificates img:hover {
            transition: all 0.4s linear;
            transform: scale3d(1.25, 1.25, 1.25);
            cursor: pointer;
            box-shadow: 4px 4px #888;
        }
        
        .sololearn-section .sololearn-certificates {
            width: 90%;
            margin: 0 auto;
            padding: 10%;
            background-color: #ccc;
        }
        
        .lco-section .lco-certificates {
            width: 40%;
            margin: 0 auto;
            padding: 10%;
            background-color: #ccc;
        }
        
        .udemy-section .udemy-certificates {
            width: 40%;
            margin: 0 auto;
            padding: 10%;
            background-color: #ccc;
        }
        
        .datacamp-section .datacamp-certificates {
            width: 40%;
            margin: 0 auto;
            padding: 10%;
            background-color: #ccc;
        }
        
        .sololearn-section .sololearn-certificates img,
        .lco-section .lco-certificates img,
        .udemy-section .udemy-certificates img,
        .datacamp-section .datacamp-certificates img {
            width: 320px;
            height: 300px;
        }
        
        #contact {
            width: 80%;
            border: 3px solid #333;
            border-radius: 16px;
            margin: 35% auto;
            background-color: rgba( 20, 20, 20, 0.8);
            padding: 10px;
            box-shadow: 5px 8px #ddd;
        }
        
        #contact form {
            width: 100%;
            margin: 0 auto;
        }
        
        #contact form input {
            font-size: 1.8em;
            border: 3px solid #000;
            border-radius: 8px;
            padding: 4px;
            margin: 5px;
        }
        
        #contact form textarea {
            font-size: 1.8em;
            border: 3px solid #000;
            border-radius: 8px;
            padding: 4px;
            margin: 5px;
        }
        
        #contact form button {
            border: none;
            background-color: royalblue;
            color: #fff;
            font-size: 1.6em;
            padding: 4px;
            margin: 5px;
        }
        
        #footer-section {
            position: relative;
            bottom: 0;
            background-color: #333;
            height: 170px;
            width: 100%;
            border-radius: 8px;
        }
        
        #footer-section footer {
            text-align: center;
        }
        
        #footer-section footer h2 {
            color: #fff;
            font-family: cursive;
            font-size: 2.3em;
        }
        
        #footer-section footer img {
            width: 60px;
            height: 70px;
            display: inline-block;
            margin-right: 20px;
            margin-left: 20px;
        }
        /* Media Queries */
        
        @media screen and (max-width:1131px) {
            .nav-bar {
                position: fixed;
                background-color: rgba( 20, 20, 20, 0.8);
                opacity: 0.9;
            }
            #portfolio h1,
            #articles h1,
            #certifications h1 {
                font-size: 1.8em;
            }
            .btn {
                font-size: 1.6em;
            }
        }
        
        @media screen and (max-width: 732px) {
            #intro-particles {
                display: none;
            }
            #intro {
                display: block;
                text-align: center;
                height: 100vh;
                width: 100vw;
                z-index: -1;
                margin-top: -30px;
                padding-top: 50%;
                animation-name: change;
                animation-duration: 12s;
                animation-iteration-count: infinite;
            }
            #intro img {
                border-radius: 50%;
                border: 3px solid #fff;
            }
            #intro .typed {
                color: #fff;
                font-size: 3em;
            }
            .nav-bar {
                height: 260px;
            }
            #wrapper {
                display: flex;
                flex-wrap: wrap;
                margin-top: 10px;
            }
            .nav-bar span {
                width: 100%;
            }
            .nav-bar span .hamburger-btn {
                display: block;
                font-size: 1.8em;
                width: 20%;
                float: right;
                margin-right: 10px;
                border: none;
                background-color: rgba( 20, 20, 20, 0.8);
                color: rgb(225, 50, 20);
                transition: all 0.4s ease-in-out;
            }
            .nav-bar span .hamburger-btn:focus {
                color: #fff;
            }
            #wrapper a {
                width: 100%;
                text-align: left;
                border-radius: 0px;
            }
            #wrapper a:hover {
                transform: none;
                color: #000;
            }
            #wrapper a:focus {
                background-color: #ddd;
                color: royalblue;
                border-radius: 8px;
            }
            .nav-collapse a {
                transition: all 0.4s linear;
                opacity: 0;
            }
            .nav-collapse {
                transition: all 0.4s ease-in-out;
                height: 0;
            }
            .nav-expand {
                transition: all 0.4s linear;
                height: 260px;
            }
            #portfolio {
                width: 95%;
                margin: 120px auto;
            }
            #portfolio h1 {
                margin-top: -20px;
            }
            #portfolio h2,
            #articles h2,
            #certifications h2 {
                display: none;
            }
            .portfolio-section span a {
                margin: 30px;
            }
            .portfolio-section span a img {
                height: 100px;
                width: 110px;
            }
            #articles {
                width: 90%;
                margin: 180px auto;
            }
            .articles-section span a img {
                width: 100px;
                height: 110px;
            }
            #certifications section img {
                width: 100px;
                height: 120px;
            }
            .btn {
                font-size: 1.4em;
            }
            .data-toggle {
                font-size: 1.2em;
            }
            @keyframes change {
                from {
                    background-color: #3B5998;
                }
                20% {
                    background-color: #0077B5;
                }
                40% {
                    background-color: #0084b4;
                }
                60% {
                    background-color: #c8232c;
                }
                80% {
                    background-color: #cc181e;
                }
                to {
                    background-color: #fb3958;
                }
            }
        }
        
        @media screen and (max-width:520px) {
            .portfolio-section {
                display: flex;
                flex-flow: column;
                text-align: center;
            }
            .articles-section {
                display: flex;
                flex-flow: column;
                text-align: center;
            }
            .btn {
                font-size: 1.2em;
            }
            .data-toggle {
                font-size: 1em;
            }
            #articles {
                width: 70%;
                margin: 0 auto;
                text-align: center;
                padding: 0;
            }
            #articles form input,
            #articles form textarea,
            #articles form button {
                font-size: 1.4em;
                padding: 2px;
            }
        }
        
        @media screen and (max-width:386px) {
            #portfolio {
                width: 100%;
                text-align: center;
            }
            #portfolio h1,
            #articles h1,
            #certifications h1 {
                display: none;
            }
            #portfolio h2,
            #articles h2,
            #certifications h2 {
                display: inline-block;
                font-family: Arial, Helvetica, sans-serif;
            }
            .portfolio-section span a img {
                width: 90px;
                height: 100px;
            }
            #articles {
                width: 100%;
                text-align: center;
            }
            .articles-section span a img {
                width: 90px;
                height: 100px;
            }
            .btn {
                font-size: 1em;
            }
            .data-toggle {
                font-size: 1em;
            }
            .sololearn-certificates img:hover,
            .lco-certificates img:hover,
            .udemy-certificates img:hover,
            .datacamp-certificates img:hover {
                transition: all 0.4s linear;
                transform: scale3d(2.25, 2.25, 2.25);
                cursor: pointer;
                box-shadow: 4px 4px #888;
            }
            #contact form input,
            #contact form textarea,
            #contact form button {
                font-size: 1.2em;
            }
        }