        @import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
        html,
        body {
            padding: 0;
            margin: 0;
            outline: none;
            max-width: 100%;
            overflow-x: hidden;
            scroll-behavior: smooth;
        }
        
        .nav-bar {
            position: fixed;
            margin-right: -5px;
            height: 50px;
            width: 100vw;
            background-color: rgba( 20, 20, 20, 0.8);
            color: #fff;
            overflow-y: none;
            z-index: 2;
        }
        
        #wrapper {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding: 5px;
        }
        
        .nav-bar span .hamburger-btn {
            display: none;
        }
        
        #wrapper a {
            text-decoration: none;
            padding: 5px;
            margin-left: 8px;
            margin-right: 8px;
            font-size: 1.5em;
            text-align: center;
            color: #fff;
            border-radius: 0;
            transition: all 0.4s ease-in-out;
        }
        
        #wrapper a:hover {
            background-color: #ddd;
            color: #222;
            transform: scale3d(1.10, 1.10, 1.10);
            border-radius: 8px;
        }
        
        #wrapper a:focus {
            background-color: #ccc;
            color: royalblue;
        }
        
        #intro-particles {
            display: inline-block;
            height: 654px;
            width: 1350px;
        }
        
        #intro-particles .blink {
            position: absolute;
            margin-top: 25%;
            margin-left: 20%;
            color: #ecf0f1;
            font-family: 'Roboto Slab', serif;
            color: #fff;
            font-size: 5em;
        }
        
        #intro-particles canvas {
            position: absolute;
            z-index: -1;
            animation-name: change-color;
            animation-duration: 10s;
            animation-iteration-count: infinite;
        }

        #intro{
            display: none;
        }
        
        #portfolio {
            width: 800px;
            margin: 270px auto;
            z-index: -1;
        }
        
        #portfolio h1 {
            text-align: center;
            font-family: cursive;
            color: #333;
            margin-top: 60px;
            font-size: 2.5em;
        }
        
        #portfolio h1 {
            margin-top: -20px;
        }
        
        #portfolio h2 {
            display: none;
        }
        
        .portfolio-section span a {
            text-decoration: none;
            margin: 60px;
        }
        
        .portfolio-section span a img {
            height: 150px;
            width: 160px;
        }
        
        #articles {
            width: 800px;
            margin: 300px auto;
        }
        
        #articles h1 {
            text-align: center;
            font-family: cursive;
            font-size: 2.5em;
            color: #111;
        }
        
        #articles h2 {
            display: none;
        }
        
        .articles-section span a {
            text-decoration: none;
            margin: 80px;
        }
        
        .articles-section span a img {
            width: 200px;
            height: 210px;
        }
        
        @keyframes change-color {
            from {
                background-color: rgb(245, 80, 20);
            }
            20% {
                background-color: rgb(235, 70, 20);
            }
            40% {
                background-color: rgb(225, 60, 20);
            }
            60% {
                background-color: rgb(225, 50, 20);
            }
            80% {
                background-color: rgb(200, 15, 180);
            }
            to {
                background-color: rgb(202, 141, 61);
            }
        }
        /* Media Queries */
        
        @media screen and (max-width:1131px) {
            .nav-bar {
                position: fixed;
                background-color: rgba( 20, 20, 20, 0.8);
                opacity: 0.9;
            }
            #portfolio h1 {
                font-size: 1.8em;
            }
            #articles h1 {
                font-size: 1.8em;
            }
        }
        
        @media screen and (max-width: 732px) {
            #intro-particles{
                display: none;
            }
            #intro {
                display: block;
                text-align: center;
                height: 100vh;
                width: 100vw;
                z-index: -1;
                margin-top: -30px;
                padding-top: 50%;
                animation-name: change;
                animation-duration: 6s;
                animation-iteration-count: infinite;
            }
            #intro img{
               
                border-radius: 50%;
                border: 3px solid #fff;
            }
            #intro .blink {
                color: #fff;
                font-size: 3em;
            }
            .nav-bar {
                height: 260px;
            }
            #wrapper {
                display: flex;
                flex-wrap: wrap;
                margin-top: 10px;
            }
            .nav-bar span {
                width: 100%;
            }
            .nav-bar span .hamburger-btn {
                display: block;
                font-size: 1.8em;
                width: 20%;
                float: right;
                margin-right: 10px;
                border: none;
                background-color: rgba( 20, 20, 20, 0.8);
                color: rgb(225, 50, 20);
                transition: all 0.4s ease-in-out;
            }
            .nav-bar span .hamburger-btn:focus {
                color: #fff;
            }
            #wrapper a {
                width: 100%;
                text-align: left;
                border-radius: 0px;
            }
            #wrapper a:hover {
                transform: none;
                color: #000;
            }
            #wrapper a:focus {
                background-color: #ddd;
                color: royalblue;
                border-radius: 8px;
            }
            .nav-collapse a {
                transition: all 0.4s linear;
                opacity: 0;
            }
            .nav-collapse {
                transition: all 0.4s ease-in-out;
                height: 0;
            }
            .nav-expand {
                transition: all 0.4s linear;
                height: 260px;
            }
            #portfolio {
                width: 95%;
                margin: 120px auto;
            }
            #portfolio h1 {
                margin-top: -20px;
            }
            #portfolio h2 {
                display: none;
            }
            .portfolio-section span a {
                margin: 30px;
            }
            .portfolio-section span a img {
                height: 100px;
                width: 110px;
            }
            #articles {
                width: 90%;
                margin: 180px auto;
            }
            #articles h2 {
                display: none;
            }
            .articles-section span a img {
                width: 100px;
                height: 110px;
            }

            @keyframes change{
                0%{
                    background-color: #3B5998;
                }
                20%{
                    background-color: #0077B5;
                }
                40%{
                   background-color: #0084b4;
                }
                60%{
                    background-color: #c8232c;
                }
                80%{
                    background-color: #cc181e;
                }
                100%{
                    background-color: #fb3958;
                }
            }
        }
        
        @media screen and (max-width:520px) {
            .portfolio-section {
                display: flex;
                flex-flow: column;
                text-align: center;
            }
            .articles-section {
                display: flex;
                flex-flow: column;
                text-align: center;
            }
        }
        
        @media screen and (max-width:386px) {
            #portfolio {
                width: 100%;
                text-align: center;
            }
            #portfolio h1 {
                display: none;
            }
            #portfolio h2 {
                display: inline-block;
                font-family: Arial, Helvetica, sans-serif;
            }
            .portfolio-section span a img {
                width: 90px;
                height: 100px;
            }
            #articles {
                width: 100%;
                text-align: center;
            }
            #articles h1 {
                display: none;
            }
            #articles h2 {
                display: inline-block;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
            .articles-section span a img {
                width: 90px;
                height: 100px;
            }
        }