html, body{
    padding: 0;
    margin: 0;
    outline: none;
    max-width: 100%;
    overflow-x: hidden;
}

.nav-bar{
    position: relative;
    margin-right: -5px;
    height: 50px;
    background-color:#000;
    color: #fff;
    
}

#wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 5px;
}

#wrapper>a{
    text-decoration: none;
    padding: 5px;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    transition: all 0.4s ease-in-out;
}

#wrapper>a:hover{
    background-color: #ddd;
    color: #222;
    transform: scale3d(1.10, 1.10, 1.10);
}

#wrapper>a:focus{
    background-color: #ccc;
    color: royalblue;
}

#intro{
    display: inline-block;
    margin-right: -16px;
}

#intro>h1 {
    position: absolute;
    margin-top: 25%;
    margin-left: 20%;
    color: #ecf0f1;
    font-family: times;
    font-size: 5em;
}

#intro>canvas {
    position: absolute;
    z-index: -1;
    animation-name: change-color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
} 

@keyframes change-color {
    from {
        background-color: #E27D60;
    }
    20% {
        background-color: #C8A78C;
    }
    40% {
        background-color: #659DBD;
    }
    60% {
        background-color: #C38D9E;
    }
    80% {
        background-color: #41B3A3;
    }
    to {
        background-color: #BC986A;
    }
}

/* Media Queries */

@media screen and (max-width: 732px){

    #intro{
        margin-left: -4px;
    }

    #intro>canvas{
        animation: none;
        background-color: #293;
    }

    #intro>h1{
        font-size: 2.5em;
        margin-top: 50%;
    }

    .nav-bar{
        height: 210px;
    }

    #wrapper{
        display: flex;
        flex-wrap: wrap;
    }

    #wrapper>a{
        width: 100%;
        text-align: left;
        border-radius: 0px;
        border-bottom: 1px solid #ddd;
        border-width: thin;
    }

    #wrapper>a:hover{
        transform: none;
    }

     #wrapper>a:focus {
         background-color: #ddd;
         color: #222;
     }
}