@import url('https://fonts.googleapis.com/css?family=Muli');
*{
    font-family: 'Muli', sans-serif;
}

.jumbotron .lead{
    color: #000;
}

.card-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    font-family: 'Muli';
    padding-top: 8px;
    box-shadow: 12px 15px 20px rgba(0, 0, 0, .1);
    text-align: center;
    width: 22em;
    background: linear-gradient(to bottom, #fff 50%, #000 50%);
    border-color: #000;
    background-size: 100% 200%;
    transition: background-position .8s;
}

.card:hover{ 
    cursor: pointer;
    background-position: 0 -100%;
    color: #fff;
    border-color: #fff;
}

.lead{
    font-family: 'Muli';
}

.btn{
    background-color: #222;
    color: #fff;
    border-color: #222;
    transition: background-color 2.2s;
}

.card:hover .btn{
    background-color: #fff;
    color: #222;
    border-color: #222;
}

@media screen and (max-width: 1040px){
    :root{
        overflow: scroll;
    } 

    .card-wrapper{
        width: 100vw;
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 70vw;
        margin-top: 5vh;
    }
}

@media screen and (max-width: 520px){
    .card{
        width: 90vw;
    }
}